$soft-gray: #ddd;
$black-vintage: #212121;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.number-input {
  border: 2px solid $soft-gray;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
  font-size: 18px;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: flex;

  .material-icons {
    color: gray;
  }
}

.number-input input[type="number"] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: 0.5rem;
  border: solid $soft-gray;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
}

:host {
  &.ng-touched.ng-invalid {
    .number-input {
      border: solid 2px red;
    }
  }
}