.content-form {
  display: flex;
}

.content-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.content-section {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}