<div class="number-input">
  <button (click)="!control.disabled && addValue(minusOne)">
    <i aria-hidden="true" class="material-icons">remove</i>
  </button>
  <input
    [formControl]="control"
    class="quantity"
    name="quantity"
    type="number"
  />
  <!-- <span
    [class.positive]="value > 0"
    [class.negative]="value < 0"
    class="number-label"
  >
    {{ this.value }}
  </span> -->
  <button (click)="!control.disabled && addValue(one)" class="plus">
    <i aria-hidden="true" class="material-icons">add</i>
  </button>
</div>
